body {
    background-image: url(Library.jpeg);
}

.book-effect {
    background-color: #ffeedc;
    /* border-style: hidden hidden hidden solid;
    border-width: 2rem;
    border-color: #ffe9d1 */
}

.header-font {
    font-family: 'Parisienne', cursive;
}

.icons {
    font-size: 2.5rem;
}