body {
    background-image: url(Library.jpeg);
}

.mobile-right {
    display: flex;
    justify-content: flex-end;
}

.book-effect {
    background-color: #ffeedc;
    border-style: hidden hidden hidden solid;
    border-width: 2rem;
    border-color: #ffe9d1
}

.about-me {
    font-family: 'Parisienne', cursive;
}